<div>
  <label for="author">author</label>
  <select name="author" id="author">
    <% authors.forEach(author => { %>
      <% if (author.id === book.author) { %>
        <option selected value="<%= author.id%>"><%= author.name %></option>
      <% } else { %>
        <option value="<%= author.id%>"><%= author.name %></option>
      <% } %>
    <% }) %>
  </select>
</div>
<div>
  <label for="title">title</label>
  <input type="text" id="title" name="title" value="<%= book.title %>">
</div>
<div>
  <label for="publishedDate">Published Date</label>
  <input type="date" id="publishedDate" name="publishedDate" value="<%= book.publishedDate == null ? '' : book.publishedDate.toISOString().split('T')[0] %>">
</div>

